{%extends 'layout.html'%}

{%load static%}

{%block css%}
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">
{%endblock%}
{%block body%}

<div class="code">{{code}}</div>

<img src="{{request.user.user_info.profile_image.url}}" alt="profile_pic">
<div>{{request.user.first_name}}</div><br>
<div>{{request.user.user_info.phone_number}}</div><br>
<div>{{request.user.username}}</div><br>
<div>{{request.user.user_info.about}}</div><br>
<a href="{%url  'network'%}"><button>Network</button></a>
<br><br><br><br>
<a href="{%url 'edit_info'%}">Edit your information</a>
{%endblock%}
{%block js%}

<script src="{%static 'js/dashboard.js'%}"></script>

{%endblock%}