{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/layout.css'%}" />
    {%block css%} {%endblock%}
  </head>
  <body>
    <header class="main">
      <nav class="inner-main">
        <span class="logo">Future E-Store</span>
        <div class="list-wrapper">
          <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <ul class="nav-list">
          <li class="nav-link"><a href="{%url 'index'%}">Home</a></li>
          {%if request.user.is_authenticated%}
          <li class="nav-link"><a href="{%url 'dashboard'%}">Profile</a></li>
          {%endif%} {%if not request.user.is_authenticated%}
          
          <li class="nav-link"><a href="{%url 'login'%}">Login</a></li>

          {%endif%} {%if request.user.is_authenticated%}
          <li class="nav-link"><a href="{%url 'logout'%}">Logout</a></li>
          {%endif%}
        </ul>
        </div>
      </nav>
    </header>

    {%block body%} {%endblock%} {%block js%} {%endblock%}

    <script src="{%static 'js/TimelineLite.js'%}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{%static 'js/layout.js'%}"></script>
  </body>
</html>
