{%extends 'layout.html'%}

{%load static%}

{%block css%}

<link rel="stylesheet" href="{%static 'css/signup.css'%}">

{%endblock%}


{%block body%}
{% if message%}
<div class="message">{{message}}</div>
{%endif%}
   
{{referring_user}}
<form method="POST">
{%csrf_token%}
Sign Up Here
<input type="text" name="username" placeholder="Enter Username">
<input type="text" name="first_name" placeholder="Enter first name">
<input type="text" name="last_name" placeholder="Enter last name">
<input type="email" name="email" placeholder="Enter email">
<input type="password" name="password1" placeholder="Enter password">
<input type="password" name="password2" placeholder="Confirm password">
<button type="submit" class="btn">Save</button>
</form>
{%endblock%}

<img src="{{request.user.user_info.profile_image.url}}" alt="profile_pic">

{%block js%}

<script src="{%static 'js/signup.js'%}"></script>

{%endblock%}